*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo{
 height: 20px;   
}

#cart_head{
    height: 20px;

}
#bg_img{
    width: 100%;
}
.text_on_image{
    position: relative;
    bottom: 300px;
    left: 100px;
}

#items{
    padding: 0% 5%;
}


.spacing_for_items1{
    display: flex;
    justify-content: space-between;
}

.row1_item{
    display: inline-block;
}

.book_size{
    height: 180px;
    width: 130px;
}

.bold{
    font-weight: 900;
    font-family: monospace;
}
.light_text{
    color: rgb(93, 93, 93);
    font-size: smaller;
}

.prices_and_cart_symbol{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_to_cart_box{
    height: 30px;
    width: 60px;
    background-color: rgb(45, 157, 255);
    border: 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color_white{
    color: white;
}

.cart_symbol{
    height: 15px;
    width: 15px;
}


#firstrow,#secondrow,#thirdrow{
    margin-bottom: 50px;
    margin-top: 5px;
}

.game_size{
    height: 200px;
    width: 200px;
}

.spacing_for_items2{
    display: flex;
    justify-content: space-between;
}

footer{
    padding: 0% 5%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer_img{
    height: 130px;
    width: 130px;
    border-radius: 90px;
}


@media (max-width:600px) {
    

    #firstrow,#secondrow,#thirdrow{
        display: flex;
        flex-direction: column;
    }
    footer{
        display:block;
        max-width: fit-content;
        border: 1px solid black;

    }
    header{
        justify-content: space-between;
        max-width: 80%;
        padding: 0%;
        border: 1px solid black;
    }
    #items{
        padding: 0% 30% 0% 10%;
    }
    .book_size{
        min-width: 70%;
        max-width: 100%;
        max-height: 100%;
    }

    #bg_img{
        max-width: 80%;
    }

    .prices_and_cart_symbol{
        justify-content: space-around;
    }
    body{
    margin-right: 30%;        
    }
   

}
